:root{
    --brand-primary: #0768AC;
    --brand-secondary: #03c180;
    --bg-default: #FFFFFF;
    --bg-body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --transparent-black: #0000003F;
    --author: #888888;
    --other-color: #1A1A1A;
    
}